.projects-container {
  width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient( circle at center in hsl shorter hue, #1e1e1e, black);
}
.gallery-container {
  overflow-y: hidden; 
  scrollbar-width: none;
  width: 90%;
  margin: 10rem auto;
  display: flex;
  gap: 50px;


}
.gallery-card {
  flex: 0 0 auto;
  width: 50%;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: row;
}
.gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-container {
  width: 100%;
  height: 100%;
  top: -600px;
  right: 0;
  position: absolute;
  background: #00000083;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.gallery-card:hover .text-container {
  top: 0;
}
.title-projects {
    font-size: 66px;
    background-color: #1a1a1a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
/*    margin-top: 150px;*/
}

@media only screen and (max-width: 500px) {
    .gallery-container {

    }
    .gallery-card {

        width: 100%;
        overflow: hidden;
        /*border:1px solid #eee;*/
        position: relative;
        display: flex;
        flex-direction: row;
    }
}