.projects-container {
  width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient(#1e1e1e, black);
}
.gallery-container {
  scrollbar-width: none;
  width: 95%;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;
  align-content: flex-start;
}

.gallery-card a{
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
/*  border: 1px solid white;*/
  align-items: center;
}
.gallery-card {
  width: 30%;
}
.gallery-card a:link,
.gallery-card a:visited {
  color: #eee;
  text-decoration: none;
}

.gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
/*  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);*/
}

.text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  padding: 5px 0;
  background-color: rgba(220, 220, 220, 0.1);
  border-radius: 0 0 12px 12px;
/*  border: 1px solid white;*/
}
.text-container p{
  font-size: 13px;
}
.text-container h3{
  font-size: 16px;
}

.title-projects {
    font-size: 66px;
    background-color: #1a1a1a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
/*    margin-top: 150px;*/
}

@media only screen and (max-width: 700px) {

    .gallery-card {
        width: 90%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
    }
}