* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: radial-gradient( circle at center in hsl shorter hue, #1e1e1e, black);
    /*border: 1px solid #eee;*/
}

.content-about {
    display: flex;
    justify-content: space-around;
    width: 90%;
    padding: 30px;
    align-items: center;
    margin: 25vh auto;
    /*border: 1px solid #eee;*/
}

.description {
    width: 70%;
    border-radius: 15px;
    backdrop-filter: blur(0.5);
    background-color: rgba(146, 146, 146, 0.08);
    border: 1px solid rgba(146, 146, 146, 0.28);
    /* border: 1px solid #eee; */
    padding: 35px 30px 25px 30px;
}

.description p {
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 20px;
}

.title-about {
    font-size: 66px;
    background-color: #1a1a1a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

h2 {
    font-size: 10rem;
    font-weight: 900;
    opacity: 0.9;
    color: var(--secondaryTextColor);
}

@media screen and (max-width: 1024px) and (min-width: 390px) {
    .container {
        margin: 1rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .content-about {
        display: flex;
        justify-content: center;
        width: 90%;
        padding: 10px;
        align-items: center;
        margin: 5vh auto;
        flex-direction: column;
    }
    
    .description {
        width: 90%;
        margin: 3rem 0;
        /*border: 1px solid #eee;*/
    }

    h2 {
        font-size: 9rem;
    }
    .description p {
        
        text-transform: none;
        line-height: 1.6;
        margin-bottom: 14px;
        font-size: 14px;
        color: var(--textColor);
    }
}

    



