* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer {
    
    background-color: #222;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px 30px;


}

@media screen and (max-width: 1024px) and (min-width: 200px) {
    .footer {

    }
}