@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --mainColor: black;
  --mainColorLight: rgb(23, 23, 23);
  --secondaryColor: #47464689;
  --textColor: #eee;
  --secondaryTextColor: rgba(252, 165, 0, 1);
  --invertTextColor: #000;

}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--mainColor);
  color: var(--textColor);
  font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #b5b4b4;
}

::-webkit-scrollbar-thumb {
  background: #4f4f4f;
}

::-webkit-scrollbar-thumb:hover {
  background: #2b2b2b;
}

